<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       <form method="post"  action=" " enctype="multipart/form-data" >
        <div>
            <label for="title">Enter The product name</label>
            <input type="text" id="title"name="title">
        </div>
        <div>
            <label for="category">Enter The New Category</label>
            <input type="text" id="category"name="category">
        </div>
        <div>
            <label for="price">Enter The Price</label>
            <input type="text" id="price"name="price">
        </div>
        <div>
            <label for="description">Write the Descrption</label>
            <input type="text" id="description"name="description">
        </div>
        <div>
            <label for="image">upload the image</label>
            <input type="file"id="image" name="image">
        </div>
        <button type="submit">Submit</button>
       </form>
</body>
</html>